
.titulo{background-color: #7f2e41;border-color: #f4cbd4;text-align: center;

}

.reseña{background-color: #8d8d8d; font-size: 12px;
    color: black; color: rgb(255, 255, 255);padding: 200px; margin: 100;
}

.servicios{color: #017687;}

.carousel-item{
    width: 300px;
}

.carousel{
    align-items: center;
    justify-content: center;
}

.navbar{
    color: #000405;
    font-size: 20px;
    background-color:rgb(255, 0, 98)
}

.nav-link
{
    color: #000405;

}

.sobre{
    text-align: center;
}

.descripcion{
    display: flex;
    flex: 1;
    border-width: 40px;
    margin-right: 100px;

}
.texto_pr{
    margin-right: 50px;
    padding-top: px;
    font-size: 15px;
}

.d-block{
  width: 1000px;
  text-align: center;
}

.proyectos{background-color: rgb(255, 255, 255); margin: 400px;}
.Titulo2{color: rgb(255, 0, 123);}

.card-title{text-align: center;font-size: 30px;}
.row{background-color: rgb(255, 255, 255);}



.container{background-color: #FE6287;display: flex;}

.logo{width: 30px;}

.footer {text-align: center;
    background-color: #FE6287;
    color: #333;
    font-size: 14px;
    padding: 30px 0;padding: 300px;
  }

  .tarjeta{background-color: #FE6287 ;text-align: center;}
  

  
  




